$background: rgb(30, 30, 30);
$foreground: rgb(215, 215, 215);

.classic {
  background-color: $background;
  color: $foreground;
  font-family: 'Roboto Mono', monospace;

  #commandLog {
    display: inline-flex;
    flex-direction: column;
  }

  .cursor {
    background-color: $foreground;
  }
}
