.classic {
  background-color: #1e1e1e;
  color: #d7d7d7;
  font-family: 'Roboto Mono', monospace; }
  .classic #commandLog {
    display: inline-flex;
    flex-direction: column; }
  .classic .cursor {
    background-color: #d7d7d7; }
  .classic a {
    color: #83f52c; }

#commandLog {
  display: inline-flex;
  flex-direction: column; }

.cursor {
  position: absolute;
  height: 16px;
  width: 11px;
  top: 2px;
  right: -15px;
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }

.prompt {
  position: relative;
  display: inline-block;
  align-self: flex-start; }

.ls-item-node {
  color: rgb(255,0,255);
  padding: 1em;
  display: inline-block; }
