@import 'themes/classic.scss';

#commandLog {
  display: inline-flex;
  flex-direction: column;
}

.cursor {
  position: absolute;
  height: 16px;
  width: 11px;

  top: 2px;
  right: -15px;

  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.prompt {
  position: relative;
  display: inline-block;
  align-self: flex-start;
}

.ls-item-node {
  color: rgb(255,0,255);
  padding: 1em;
  display: inline-block;
}

