@import 'themes/classic.scss';

#commandLog {
  display: inline-flex;
  flex-direction: column;
}

.cursor {
  position: absolute;
  height: 16px;
  width: 11px;

  top: 2px;
  right: -15px;

  animation: blinker 1s linear infinite;
}

.log-body {
  margin: 25px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.prompt {
  position: relative;
  display: inline-block;
  align-self: flex-start;
}

.ls-item-node {
  color: rgb(255,0,255);
  padding: 1em;
  display: inline-block;
}

.media-frame {
  padding: 5px 5px 2px 5px;
  display: inline-block;
  background: rgb(195, 195, 195);
  margin: 1em 0;
}


.media-frame > div {
  display: flex;
  height: 25px;
  width: 100%;
  margin-bottom: 5px;
  background: rgb(2, 13, 128);
}

.media-frame > div > span{
  margin: auto 10px;
  font-size: 12px;
}
